<ion-view view-title="Kahi Kai - Marine Life">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
            float: left;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
            float: right;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        [class*="col-"] {
            float: left;
            padding: 15px;
        }

        .aqua-border-sharp {
            border: solid 1px aqua;
            border-radius: 5px;
        }

        hr.aqua-border-sharp {
            color: aqua;
        }

        h1 {
            font-size: 1.5em;
        }

        img {
            width: 100%;

        }
    </style> 

    <ion-content direction="y" overflow-scroll="true" has-bouncing="true">

        <div class="card" style="padding-bottom: 1em">


            <div class="item item-text-wrap">

                <div style="overflow:auto; width: 100%; ">
                    <div class = "col-6" style="float: left; display:inline-block">

                        <img src="img/KeyIntroP1.PNG" />
                        <img src="img/KeyIntroP2.PNG" />
                        <img src="img/KeyIntroP3.PNG" />

                    </div>

                    <div style="float:left; display: inline-blocks" class="col-5">
                        

                        <br />
                        <br />
                        <h1><b> About the Plankton Identification Key </b></h1>
                        <br />
                        <hr/>
                        
                     
                        <h3>This Plankton identification key is an attempt to help students of all ages to identify plankton in an easy and fun way. Considering the huge diversity of plankton, not everything is covered in this key. We have focused on the most common zooplankton we have found using plankton tows in coastal tropical and temperate areas. Additionally, a few phytoplankton, some common organisms found in general plankton books and guides, and some larger and more conspicuous organisms not necessarily found in plankton tows are included.</h3>

                        <br/>

                        <h3>The organisms in our key are represented by simplified drawings. Note that many organisms will not look exactly as those drawings, especially if preserved or if observed under the high magnification of a microscope. If you are new to identifying organisms, especially under a microscope, try to move the organism with a probe, change the lighting and magnification by zooming in and out. Remember that colors are often not very helpful features, except if specifically noted in the key. Size on the other hand might be helpful. However, the organisms in this key usually represent the average size for that group.</h3>

                        <br/>

                        <h3>Each organism in the key has a size bar, taxonomic affiliation, and general information on its biology. The taxonomic affiliation follows the taxonomic color bar with the addition of kingdom affiliation (Kingdom – Phylum – Class – Order – Family – Genus - Species) unless otherwise noted. Taxonomic information is taken from the World Register of Marine Species (www.marinespecies.org).</h3>

                        <br/>

                    </div>
                    <br />
                </div>

                <hr/>
                <br/>
                <br/>

                <div style="overflow:auto">

                    <div class="col-4 aqua-border-sharp" style="display: inline-block; margin-top:3em margin-left:4.16%; margin-right:0%">
                        <h2>This Plankton App is still in development and there are a few features we hope to add in the future: </h2>

                        <hr />

                        <ol class="list">
                            <li class="item">
                                Additional examples in the searchable plankton section
                            </li>
                            <li class="item">
                                linking examples to organisms in the key
                            </li>
                            <li class="item">
                                phylogenetic relationship between the organisms presented in the key
                            </li>
                        </ol>

                    </div>

                    <div class="col-7" style ="margin-left: 4.16%">

                        <h1> Additional Information </h1>

                        <p>For further information on plankton see some selected references below: </p>
                        <ul style="list-style-type:disc; width: 90%; margin-left:auto; margin-right: auto">
                            
                            <li > <p> Johnson, W.S. and D.M. Allen. 2012. Zooplankton of the Atlantic and Gulf coasts: a guide to their identification and ecology. Second Edition. Johns Hopkins University Press. Baltimore. 452 pp. </p> </li>

                            <li> <p> Martin-Ledo, Rafael. https://marineplankton.net </p> </li>
                            <li> <p>Sardet, C. 2015. Plankton: Wonders of the Drifting World. University of Chicago Press. Chicago. 224 pp.</p></li>
                            
                            <li> <p>Schell, J.M. Zooplankton Dichotomous Key.</p></li>
                            
                            <li> <p>Smith, D.L., and K.B. Johnson. 1996. A guide to marine coastal plankton and marine invertebrate larvae. Second Edition. Kendall/Hunt Publishing Company. Dubuque. 221 pp.</p></li>
                            
                            <li> <p>WoRMS Editorial Board (2017). World Register of Marine Species. Available from http://www.marinespecies.org at VLIZ. Accessed 2017-12-21. doi:10.14284/170 </p></li>
                            <li> <p> Young, C.M. (ed.), M.E. Rice and M. Sewell (assoc. eds.). 2002. Atlas of Marine Invertebrate Larvae. Academic Press. London. 646 pp.</p></li>
                         </ul>
                        <br/>

                    </div>

                </div>

            </div>
        </div>
        <div style="height:5em; width:100%"> </div>

    </ion-content>


    <!--<ion-content scrollbar-x="false" scrollbar-y="true" has-bouncing="false">
        <img ng-src='img/about-plankton.jpg' class="fullscreen-image" />
        -->

 
        <a  href="#/app/dichotomous"  style="padding: .75em; padding-left: 4em; padding-right:4em; position:absolute; bottom: 1em; right: 5%; opacity: 0.95" class="button icon-right ion-chevron-right button-positive" style="color: white; background-color: #4FC1E9">Begin </div> </a>


</ion-view>

